form {
  border: solid 1px #77777737;
  width: 95%;
  max-width: 50rem;
  margin: 2rem auto;
  border-radius: 1rem;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  text-align: center;
  box-shadow: 0 0 2rem #00000018;
}

table {
  width: 95%;
  max-width: 70rem;
  margin: 2rem auto;
  border-radius: 1rem  ;
  overflow: hidden;
  border: 1px solid #0d6efd;
  box-shadow: 0 0 2rem #00000018;


}
table  tr{
  border: 1px solid #77777737;
  transition: all 0.3s ease;
  cursor: pointer;
}
table tbody tr:hover{
  background-color: #0d6dfd1e;

}
table thead tr{
  background-color: #0d6efd;
  color: aliceblue;  
}
table tr td,table tr th{
  padding: 1rem;
  
}
table tr td:nth-child(3){
display: flex;
justify-content: space-evenly;
}
table tr:nth-child(1) th:nth-child(3){
text-align: center;
}
